<h1> Welcome to the Data Parser </h1> <br>

<p> Please upload a JSON array and a location to filter by. The results will be displayed after you click enter. </p> <br>


<form method=""post>
<label for="Json-data">
JSON array 
<input type="text" name="Json-data" >
<label for="location"> <br/>
Location of talent
<input type="text" name="location">

<input type="submit" value="submit>

